body {
    font-family: "Arial", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
}

h1{
    color:white;
    margin:0;
    padding:12px;
    padding-left: 40px;
    font-size: 40pt;
}

footer p{
    color:white;
}

.home-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 40px;
}

.home-image {
    max-width: 50%;
    margin-right: 20px; /* Add some margin for spacing */
}

.about-image {
    max-width: 100%;
    max-height: 400px;
    background-size: contain ;
    margin-right: 20px; /* Add some margin for spacing */
}

a{
    color:white;
}

th{
    font-size: large;
    font-weight: bold;
}
.table-container{
    color:white;
    text-decoration: none;
    text-align: center;
}

.chapter-table{
    align-items:center;
    width:100%;
}

td a {
    color:white;
    font-size: 20pt;
    text-decoration: none; 
    font-weight: bold;
}

.home-content p {
    margin-right: 20px;
    flex: 1; /* Allow the text to take up available space */
    text-align: justify;
    color:white;
    font-size: 16pt;
}

.header_img {
    background:url(pg/1_206.png);
    height: 60px;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

.float-left {
    float: left; /* or float: right; */
    margin-right: 20px; /* adjust the margin as needed */
}

.float-right {
    float: right; /* or float: right; */
    margin-right: 20px; /* adjust the margin as needed */
}

/* Clear the float to ensure the following content doesn't wrap around the floated elements */
p:after {
    content: "";
    display: table;
    clear: both;
}


nav ul {
    margin:0;
    background-color: #FF58D6;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
}

nav ul li {
    margin-right: 10px;
    padding:0px 12px;
}

nav ul li a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
}

main {
    background: linear-gradient( black,#7b00b4);
    background-repeat: no-repeat;
    background-position: bottom;
    height:100vh;
}


.footer {
    background-color: #1f1f1f;
}

.welcome-section h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ff3864;
    text-align: center;
}

.start-reading-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7b00b4;
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
    border: 2px solid #ff3864;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
}

/* Read Comic Page Styles */
/* Read Comic Page Styles */
.comic-page {
    text-decoration: none;
    text-align: center;
    position: relative; /* Add position relative to allow absolute positioning within it */
}

.comic-page h2 {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff;
}

.page-image {
    width: 80%; /* Set width to 200% to achieve the same effect as scale(2) */
    max-height: 80vh; /* Set the maximum height relative to the viewport height (80% of viewport height in this example) */
    height: auto;
    object-fit: contain;
    position: relative;
}


.prev-page-btn,
.next-page-btn {
    text-decoration: none;
    background-color: #7b00b4;
    color: white;
    border: none;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    width: 6%; /* Set a fixed width */
    height: 80%; /* Stretch vertically to match the comic page */
    font-size: 40px; /* Adjust font size as needed */
    line-height: 1; /* Remove extra spacing inside the button */
    position: absolute; /* Position the buttons absolutely within the comic-page container */
    top: 50%; /* Position vertically centered */
    transform: translateY(-50%); /* Adjust for vertical centering */
}

.prev-page-btn {
    left: 2%; /* Position to the left */
}

.next-page-btn {
    right: 2%; /* Position to the right */
}


.prev-page-btn:hover,
.next-page-btn:hover {
    background-color: #ff3864;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.navigation-buttons button {
    display: inline-block;
    padding: 10px 20px;
    background-color: maroon;
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    border: 2px solid #ffffff;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.flex{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    height: 560px;
}

.flexcolumn{
    flex:1;
    background-color:rgb(121, 17, 137);
    padding:30px;
    margin: 20px;
    border-radius: 12px;
    border: 3px solid #d79652;
    box-shadow: 4px solid #4b4b4b;
    text-align: left;
}
.flexcolumn h1{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: normal;
    text-align: center;
}


form {
    color:white;
    display: flex;
    flex-direction: column;
    max-width: 300px; 
    margin: 0 auto; 
}


input[type="text"],
input[type="email"] {
    font-size: 14px;
    padding: 4px;
    margin-bottom: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment {
    font-size: 14px;
    padding: 10px;
    height: 10em;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


input[type="submit"] {
    background-color: #b5b5b5;
    font-size: 14pt;
    border-radius: 12px;
    text-align: center;
    padding: 8px 12px; 
}

form input[type="submit"] {
    align-self: center;
}
